.App {
  margin: 20px;
  text-align: left;
  display: flex;
}

.LeftSec {
  width: 350px;
}

.Nav {
  width: 200px;
  height: 250px;
}

.ButtonGrp button {
  font-size: 0.8rem;
  width: 6rem;
  height: 2rem;
  margin: 3px;
}

#btnCrt {
  background-color: #3195f2;
  color: #fff;
  border: none;
}

.ContentBox {
  border-color: #1477d2;
  margin: 20px 0;
}

.RigthSec {
  width: 640px;
  height: 500px;
  border-style: solid;
  border-width: 3px;
  border-color: #3195f2;
  margin-top: 40px;
}

.RigthSec div {
  font-size: 1rem;
  padding: 0px 10px;
}

.RigthSec div span{
  font-weight : bolder;
  color : #E040FB;
}

.RigthSec h3{
  font-weight : bolder;
  color : #E040FB;
}